@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body.active-modal {
  overflow-y: hidden;
}
.modal{
  overflow-y: auto!important;
}
a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
  margin: 15px;
}

.modal {
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}
.model-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: black;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: min-content;
  min-width: 250px;
  border-radius: 23px;
}
.genimg{
  border-radius: 25px;
}
.submitform{
  line-height: 1.5;
  
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}